.AddMovieButton{
    width: 50px;
    color : #353535;
    user-select: none;
    align-content: center;
    justify-content: center;
}

.AddMovieButton:hover{
    cursor: pointer;
    color : #ffffff;
    outline-color: aliceblue;
}

.AddMovieButton svg{
    height : 100%;
} 

