.App {
  text-align: center;
}


.App-Container {
  background-color: #09d3ac;
  min-height: 66.6vh;
  max-height: 66.6vh;
  max-width: 66.6vw;
  min-width: 66.6vw;
  display: flex;
  flex-flow: column;
  color: white;
  border: white 1px solid;
}