@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Dosis|Kalam&display=swap');

body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Kalam', cursive , "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  outline : none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  outline: none;
}