.modal-overlay{
    position: absolute;
    z-index: 20;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    top: 0px;
    left: 0px;
    -webkit-backdrop-filter: blur(5px);

    backdrop-filter: blur(5px);
}

.modal-content{
    position: absolute;
    margin: 40px;
    border: 1px solid rgb(255, 255, 255);
    background: rgba(22, 22, 22, 0.986);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    color: aliceblue;
}

