.MovieCard{
    background-color: #01612cbe; 
    position: relative;
    border-bottom:#282c34 solid 1px;
    text-align: left;
    font-size: .7em;
    overflow: hidden;
}

.MovieCard Temp{
    background-color: rgba(0, 0, 0, 0.068);
    position: relative;    
}

.MovieCardName{
    display: inline-block;
    line-height: 50px;
    color : rgb(236, 236, 236);
}

.MovieCard a{
    color: white;
}

.MovieCardIcon {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    color: #9cb4a7b4;;
    user-select: none;
}

.MovieCardIcon button{
    user-select: none;
}
    
.MovieCardIcon:hover {
    color : white;
}

.MovieCardInfo {
    background-color: #0000002a;
    font-size: .71em;
}

.MovieCardCreator{
    height: 30px;
}

.MovieCardURL{
    height: 30px;
}

.MovieCardDelete{
    padding: 0px;
    max-width: 50px;
    text-align: center;
}

.MovieCardDelete button{
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    font-size : 15px;
    color : rgb(196, 68, 68);
    user-select: none;
}


.MovieCardDelete button:hover{
    color: white;
    cursor: pointer;
}

