.MovieCard{
    background-color: #080808be; 
    position: relative;
    border-bottom:#282c34 solid 1px;
    text-align: left;
    font-size: .7em;
    overflow: hidden;
}

.MovieCard Temp{
    background-color: rgba(0, 0, 0, 0.068);
    position: relative;    
}

.MovieCardName{
    display: inline-block;
    line-height: 50px;
    color : rgb(236, 236, 236);
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.MovieCard a{
    color: white;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width : calc(100% - 50px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.MovieCardIcon {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    color: #353535;
    user-select: none;
}

.MovieCardIcon button{
    user-select: none;
}
    
.MovieCardIcon:hover {
    color :white;
}

.MovieCardInfo {
    background-color: #222222;
    filter: drop-shadow(16px 16px 20px rgb(117, 117, 117));
    font-size: .71em;
}

.MovieCardCreator{
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Dosis', sans-serif , "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.MovieCardCreator svg{
    color : grey
}

.MovieCardCreator svg:hover{
    color: white;
}

.MovieCardURL{
    height: 30px;
}

.MovieCardDelete{
    padding: 0px;
    max-width: 50px;
    text-align: center;
}

.MovieCardDelete button{
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    font-size : 15px;
    color : rgb(196, 68, 68);
    user-select: none;
}


.MovieCardDelete button:hover{
    color: white;
    cursor: pointer;
}

