.MovieInput{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.MovieInput input{
    font-family: -apple-system, BlinkMacSystemFont, 'Finger Paint', cursive, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}